{% extends 'personnel/base.html' %}

{% block title %}Ajouter un membre{% endblock %}

{% block content %}
    <h2>Ajouter un nouveau membre : </h2>

        <form method="post">
            {% csrf_token %}
            <p>Nom : {{ form.name }}</p>
            <p>Email : {{ form.email }}</p>
            <p>Date de naissance : {{ form.date_of_birth }}</p>
            <p>Adresse : {{ form.address }}</p>
            <p>Numéro de téléphone : {{ form.phone_number }}</p>
            <br>
            <button type="submit">Enregistrer</button>
        </form>
{% endblock %}