<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Médiathèque{% endblock %}</title>
</head>
<body>
    <nav>
        <h3>Médias</h3>
            <ul>
                <li><a href="{% url 'add_media' %}">Ajouter un média</a></li>
                <li><a href="{% url 'media_list' %}">Liste des médias</a></li>
                <li><a href="{% url 'borrowing_media' %}">Emprunter un média</a></li>
                <li><a href="{% url 'choose_borrow_to_return_view' %}">Retourner un média</a></li>
            </ul>

        <h3>Membres</h3>
            <ul>
                <li><a href="{% url 'member_list' %}">Liste des membres</a></li>
                <li><a href="{% url 'add_member' %}">Ajouter un membre</a></li>
                <li><a href="{% url 'members_overdue' %}">Membres en retard</a></li>
            </ul>

        <hr>
        <a href="{% url 'index' %}">Accueil</a>
    </nav>

    <div>
        {% if user.is_authenticated %}
            <p>Connecté en tant que {{ user.username }}</p>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Se déconnecter</button>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">Se connecter</a></p>
        {% endif %}
    </div>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

    <h1>Bienvenue sur le site de la Médiathèque </h1>
    {% block content %}
        <!-- Contenu spécifique de chaque page -->
    {% endblock %}
</body>
</html>
