{% extends 'personnel/base.html' %}

{% block title %}Choisir un emprunt à retourner{% endblock %}

{% block content %}
  <h2>Choisissez un emprunt à retourner</h2>
    <ul>
        {% for borrow in borrows %}
            <li>
                {{ borrow.media.name }} emprunté par {{ borrow.borrower.user.username }}
                <a href="{% url 'returning_media' borrow.id %}">Retourner ce média</a>
            </li>
        {% empty %}
            <li>Aucun emprunt en cours.</li>
        {% endfor %}
    </ul>

{% endblock %}