{% extends 'personnel/base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
   <h2> Petit mot d'accueil : </h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu ligula pharetra, gravida tellus at,
            lacinia orci. Mauris aliquet bibendum nibh, at semper dui. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Donec quis turpis velit. Aliquam erat volutpat. Quisque ornare rhoncus quam, vel
            vulputate lectus blandit non. Quisque nibh est, accumsan eu dignissim a, faucibus et arcu. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Vestibulum in gravida diam.</p>
        <p>Vivamus sit amet lectus ipsum. Quisque sit amet vestibulum justo. Nunc sit amet neque eget tortor
            consectetur tincidunt vitae a dui. Nullam ultrices, urna et sodales consequat, urna lectus ultrices
            lectus, malesuada molestie arcu orci vitae tortor. In ut magna mattis urna venenatis fringilla. Duis
            finibus in turpis et euismod. Mauris efficitur consequat placerat. Phasellus at blandit lacus. Aliquam
            id odio neque. Morbi nec sapien eget metus bibendum malesuada sed et arcu. Integer blandit felis tortor
            , nec tristique metus convallis sit amet. Nam eget interdum nibh, ut aliquam elit. Suspendisse
            elementum efficitur erat, eget malesuada purus iaculis eget. Donec interdum egestas enim, sed varius
            nibh consectetur et.</p>
        <p>Aenean sodales purus tortor, a lobortis sapien ullamcorper faucibus. Sed condimentum pulvinar libero,
            non interdum est dapibus id. Nulla semper sem id nisl tincidunt malesuada. Etiam semper nunc neque,
            in feugiat nulla imperdiet vitae. Fusce vitae elementum ligula, non egestas mauris. In hac habitasse
            platea dictumst. Nunc dapibus sapien eu tellus egestas ullamcorper.</p>
{% endblock %}
