{% extends 'personnel/base.html' %}

{% block title %}Détail du média{% endblock %}

{% block content %}
    <h2>{{ media.name }}</h2>

    {% if media.author %}
        <p>Auteur : {{ media.author }}</p>
    {% endif %}

    {% if media.producer %}
        <p>Producteur : {{ media.producer }}</p>
    {% endif %}

    {% if media.artist %}
        <p>Artiste : {{ media.artist }}</p>
    {% endif %}

    {% if media.creators %}
        <p>Créateurs : {{ media.creators }}</p>
    {% endif %}


    <p>Disponible : {{ media.available|yesno:"Oui,Non" }}</p>

    <a href="{% url 'media_list' %}">← Retour à la liste des médias</a>
{% endblock %}
