{% extends 'personnel/base.html' %}

{% block title %}Liste des médias{% endblock %}

{% block content %}
    <h2>Liste des médias</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom du média</th>
                <th>Type</th>
                <th>Auteur/Artiste/Producteur/Créateurs</th>
                <th>Disponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for media in media_list %}
                <tr>
                    <td>{{ media.name }}</td>
                    <td>{{ media.get_media_type_display }}</td>
                    <td>
                        {% if media.author %}
                            {{ media.author }}
                        {% elif media.producer %}
                            {{ media.producer }}
                        {% elif media.artist %}
                            {{ media.artist }}
                        {% elif media.creators %}
                            {{ media.creators }}
                        {% endif %}
                    </td>
                    <td>{{ media.available|yesno:"Oui,Non" }}</td>
                    <td>
                        <a href="{% url 'media_detail' media.pk %}" class="btn btn-info btn-sm">Détails</a>
                        {% if media.available %}
                            <form action="{% url 'borrowing_media' %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="media_id" value="{{ media.id }}">
                                <button type="submit" class="btn btn-success btn-sm">Emprunter</button>
                            </form>
                        {% else %}
                            <span class="text-muted">Non disponible</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
